@font-face {
  font-family: 'Nunito Sans';
  src: url("../fonts/NunitoSans-Regular.woff2") format("woff2"), url("../fonts/NunitoSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Nunito Sans';
  src: url("../fonts/NunitoSans-Bold.woff2") format("woff2"), url("../fonts/NunitoSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  max-width: 100%;
  font-family: 'Nunito Sans', Roboto, sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.25;
  color: #2f3d41;
  background-image: linear-gradient(120deg, #fff 0%, rgba(119, 127, 164, 0.075) 100%); }

main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(90deg, rgba(47, 61, 65, 0.05) 1px, transparent 1px) 1px 0, transparent;
  background-size: 25% 1px; }
  @media screen and (min-width: 1024px) {
    main {
      background-size: 12.5% 1px; } }

a {
  text-decoration: none;
  color: #5a757c;
  outline: none;
  position: relative; }
  a::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    border-bottom: 3px solid #ff1351;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
    will-change: transform; }
  a:visited, a:active {
    color: #5a757c;
    border-color: transparent; }
  a:hover::after, a:focus::after {
    height: 1px;
    transform: scaleX(1); }

.intro {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 720px;
  margin: auto auto 0;
  padding: 1rem;
  text-align: left;
  position: relative; }
  @media screen and (min-width: 576px) {
    .intro {
      flex-direction: row; } }
  .intro h1 {
    font-size: 1.5rem;
    margin: 0 0 1rem; }
  .intro .text {
    order: 1; }
  .intro .profile-image {
    order: 0;
    margin-right: auto; }
    .intro .profile-image img {
      width: 10rem;
      height: auto;
      margin-bottom: 1.5rem;
      border-radius: 50%;
      box-shadow: 0.5rem 1rem 3rem rgba(119, 127, 164, 0.2); }
    @media screen and (min-width: 576px) {
      .intro .profile-image {
        order: 1; }
        .intro .profile-image img {
          margin-left: 1rem;
          margin-bottom: 0; } }

.links {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 2rem auto auto;
  width: 100%;
  max-width: 720px;
  padding: 0 1rem; }
  .links a {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 0.85rem;
    font-weight: bold;
    color: #2f3d41;
    letter-spacing: 2px;
    text-transform: uppercase; }
    .links a:not(:last-child) {
      margin-right: 2rem; }
    .links a::after {
      bottom: -4px;
      left: -5px;
      width: calc(100% + 10px); }

.greeting {
  font-size: 1.5rem;
  margin: 0 0 1rem .5rem;
  display: inline-block;
  transform-origin: bottom center;
  transform: rotate(10deg);
  animation: wave 5s 2s ease infinite; }

@keyframes wave {
  0% {
    transform: rotate(10deg); }
  3% {
    transform: rotate(-10deg); }
  6% {
    transform: rotate(10deg); }
  9% {
    transform: rotate(-10deg); }
  12% {
    transform: rotate(10deg); }
  15% {
    transform: rotate(-10deg); }
  18% {
    transform: rotate(10deg); }
  21% {
    transform: rotate(-10deg); }
  24% {
    transform: rotate(10deg); }
  100% {
    transform: rotate(10deg); } }

/*# sourceMappingURL=main.css.map */
